	/* Universal Selectors */
	body {
		padding:0px;
		margin:0px;
		font-family: 'segoe ui';
		text-align: justify; 
		background-color:#f9f9f9;
		font-weight: 200; 
		font-size: 15px;
	}

	h2 {
		font-weight: 200; 
		font-size: 25px;

	}
	

	#main {
		width: 50%;
		height: auto;
		padding: 20px 50px;
		margin: 80px auto;
		box-shadow: 0 0 20px gray;
		background-color: white;
		text-align: justify;
		
	}
	
	/* Navigation bar */
	#nav {
		width:100%;
		height: 64px;
		position: fixed;
		top:0px;
		left:0px;
		background-color:white;
		box-shadow: 0 0 20px gray;
		z-index: 99;
	}
	
	#gmail {
		padding-right:20px;
		position:fixed;
		top: 14px;
		left:15px;
	}
	
	#forwork, #signin {
		text-decoration: none;
		padding:24px 48px;
		font-size:13px;
		float:right;
		color:#747474;
	}
	
	.create {
		text-decoration: none;
		padding:24px 48px;
		font-size:13px;
		background-color: #dd6347;
		color:white;
		float: right;	
	}
		
	#forwork:hover, #signin:hover {
		color: #dd6347;
	}

/* Name */
	#name, #username, #password, #dob, #gender, #cemail, #locale, #mobile, #fav {
		background-color:#f9f9f9; 
		display:block; 
		width:100%; 
		height:50px; 
		margin:auto;
    }

    #name input {
    	width:49%;
    }
	

	/* Username */

	#username input {
		width:99.5%;
		text-align: right;
	}

	
	/* Password */

	#password input {
    	width:49%;
    }
	
	/* DOB */
	
	#dob input {
    	width:86%;
    }
	
	/* gender */
	
	#gender input {
    	width:10%;
    }


	
	/* Mobile Phone */
	
	#mobile input {
    	width:99.5%;
    }

	
	/* Current Email */
	
	#cemail input {
    	width:99.5%;
    }

	/* Location */

	#locale input {
    	width:99.5%;
    }	


	/* Favourites */
	
	#fav input {
    	width:99.5%;
    }
	
	#terms input {
    	width:5%;
    	text-align: center;
    }

	#submit input {
    	width:40%;
    	padding:1.5%;
    	text-align: center;
    	background-color: #dd6347;
    	color: white;
    }
	
	/* Multi-Colored Line */
	
	#line {
		width:100%;
		height:2px;
		padding-right: 5%; 
		box-sizing:border-box;
		background-color: white;
	}
	
	#blue {
		width:2%;
		height:2px;
		background-color:blue;
		display:inline;
		float:right;
	}
	
	#red {
		width:2%;
		height:2px;
		background-color:red;
		display:inline;
		float:right;
	}
	
	#yellow {
		width:2%;
		height:2px;
		background-color:yellow;
		display:inline;
		float:right;
	}
	
	#green {
		width:2%;
		height:2px;
		background-color:green;
		display:inline;
		float:right;
	}
			
			

	
	/* Footer */
	
	#footer {
		background-color:#f9f9f9;  
		padding: 70px;
    }
	
	#footer img {
		display:block; 
		text-align: left; 
		margin: 0; 
    }
	
	#footer a {
		display:block; 
		text-align: left;
		text-decoration: none;
    }
	#footer p {
		display:block; 
		text-align: center; 
    }






